@model SPblog.Models.BlogPost 


@using SPblog.Models
@using Microsoft.AspNet.Identity


<!-- header -->
<div id="top" data-toggle="top"></div>
<a href="#menu-toggle" id="menu-toggle"><i class="lnr lnr-menu"></i></a>
<header id="home" style="background-image:url(/images/images/aaa.jpg)"></header>
<!-- / header -->
<div class="header-content">
    <h2>Hello<span class="text-primary">.</span> This is a <span class="text-primary">Blog Post</span></h2>
    <h4>Posted By<span class="text-primary">.</span> Sarvesh <span class="text-primary">Patel</span></h4>
    @{
        var date = DateTime.Now;
        var message = "This is Blog Post on My Journey at Coder Foundry.";

        <p>@date</p>
        <p>@message</p>
    }
    <p>This is Blog Post on My Journey at Coder Foundry.</p>
    <p>Blog Post describes Weekly Progress</p>
</div>
<style>
    #CommentBody {
        height: 100px;
        width: 100%;
        border: 3px solid black;
    }

    .buttonW {
        width: 100%;
    }

    #custLogin {
        color: blue;
        font-weight: bold;
    }

    #card-text {
        height: 70px;
        width: 30%;
        border: 2px solid blue;
    }

    #card-body {
        height: 205px;
        width: 50%;
        border: 2px solid violet;
    }
</style>

<section id="blog">



    <div class="container">
        <div class="blog block post-content-area padd15">
            <h3 class="text-center">
                <a href=' @Url.Action("Details", "BlogPosts", new { slug = Model.Slug })'>
                    @Html.DisplayFor(modelItem => Model.Title)
                </a>
            </h3>

            @*<p class=" post-meta">
                    Posted by Sarvesh patel on @Model.Created
                </p>*@



            @if (Model.MediaURL != null)
            {
                @*<div class=" blog-img-wide">
                        <a href='@Url.Action("Details", "BlogPosts", new { slug = Model.Slug })'>
                            <img class=" img-responsive" src="@Model.MediaURL" />
                            </a>
                    </div>*@
                <img class=" img-responsive" src="@Model.MediaURL" />
            }



            <p>
                @Html.Raw(Model.Body)
            </p>
            <a href=' @Url.Action("Details", "BlogPosts", new { slug = Model.Slug })'></a>
        </div>
    </div>



    <div class=" row text-center h1">COMMENT BOX</div>

    <div class=" row">
        <div class=" col-md-12 text-center h3">
            Comment Area:(@Model.Comments.Count() comments)
        </div>
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class=" row">
            <div class=" col-md-12 text-center h3">
                @Html.ActionLink("Please Login to add comments", "Login", "Account", null, new { id = "custLogin" })
            </div>
        </div>
    }

    <br />
    @if (User.Identity.IsAuthenticated)
    {
        using (@Html.BeginForm("Create", "Comments", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("BlogPostId", Model.Id);
            @Html.HiddenFor(model => model.Slug);


            <div class=" row">
                <div class=" offset-md-3 col-md-6 text-center">

                    @*@Html.TextArea("CommentBody", new { @class = "form-control" })*@
                    @Html.TextArea("CommentBody", new { placeholder = "Post Comment here...." })
                    @*<button class="btn btn-default" type="submit" value="Post">Post Comment</button>*@
                </div>
            </div>

            <div class=" row">
                <div class=" offset-md-3 col-md-6 text-center">
                    <button class="btn btn-primary buttonW" type="submit" value="Post">Post Comment</button>
                </div>
            </div>
        }

    }

    <br />

    @foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
    {

        <div class="container-fluid">
            <div class="card-body" id="card-body">
                <h6 class="card-title">Created by @comment.Author.DisplayName</h6>
                <h6>@comment.Created.ToString("MM/dd/yy")</h6>
                <p class="card-text" id="card-text">@comment.Body</p>


                @if (User.IsInRole("Admin") || User.IsInRole("Moderator") || comment.AuthorId == User.Identity.GetUserId() && comment.UpdateReason == null)
                {

                    

                    @Html.ActionLink("Edit", "Edit", "Comments", new { id = comment.Id }, new { @class = "btn btn-sm btn-danger" })
                }

            </div>
            <br />

        </div>

    }





    <br />











    <div class="space-50">&nbsp;</div>

    <div class="share">
        <a href="#" class="btn-social btn-facebook-filled">
            <i class="fa fa-facebook"></i>
            <span>Share</span>
        </a>

        <a href="#" class="btn-social btn-twitter-filled"><i class="fa fa-twitter"></i> <span>Tweet</span></a>
        <a href="#" class="btn-social btn-google-filled"><i class="fa fa-google"></i> <span>Share on Google+</span></a>
        <a href="#" class="btn-social btn-pinterest-filled"><i class="fa fa-pinterest"></i> <span>Pin it</span></a>
    </div>




</section>
